.minesweeper {
  /*position*/
  position: relative;
  /*size*/
  height: 90%;
  width:100%;
  /*color*/
  background-color:#222;
}
.minesweeper .gameMenu {
  /*position*/
  position: relative;
  left:25%;
  top: 10%;
  /*size*/
  height: 10%;
  width: 50%;
  /*color*/
  background-color:#CCC;
}
.minesweeper .gameBoard {
  /*position*/
  position: relative;
  left: 25%;
  top: 10%;
  /*size*/
  height:50%;
  width: 22em;
  /*color*/
  background-color:#AAA;
}
.minesweeper .gameGrid {
  height: 100%;
}
.minesweeper .gameGrid .gameTile {
  width: 2em;
  height: 10%;
  background-color:#0FF;
}

footer {
  text-align: center;
}
