/* Permanent */
.minesweeper {
  /*position*/
  position: relative;
  /*size*/
  height: 90%;
  width:100%;
  /*color*/
  background-color:#222;
}
.minesweeper .gameMenu {
  /*position*/
  position: relative;
  left:25%;
  top: 10%;
  /*size*/
  height: 10%;
  width: 50%;
  /*color*/
  background-color:#CCC;
  /*contents position*/
  display:flex;
  justify-content: space-between;
}
.minesweeper .gameMenu .minesDisplay {
  /*size*/
  width: 1.5em;

  /*color*/
  background-color: black;

  /*text*/
  font-size: 3.5em;
  color: Red;
  font-family: digital;
  text-align: center;
}
@font-face{
  font-family:'digital';
  src: url('Digital Dismay.otf');
}
.minesweeper .gameMenu .timerDisplay {
  /*size*/
  width: 1.5em;

  /*color*/
  background-color: black;

  /*text*/
  font-size: 3.5em;
  color: Red;
  font-family: digital;
  text-align: center;
}

.mineSweeper .gameMenu .smileyDisplay {
  /*size*/
  width: 1em;
  height: 1em;
  /*why do I need this?*/
  font-size: 3.5em;
}
.minesweeper .gameBoard {
  /*position*/
  position: relative;
  left: 25%;
  top: 10%;
  /*size*/
  height:50%;
  width: 22em;
  /*color*/
  background-color:#AAA;
}
.minesweeper .gameGrid {
  height: 100%;
}
.minesweeper .gameGrid .gameTile {
  width: 2em;
  height: 10%;
  background-repeat: no-repeat;
  background-size: contain;
}
/* Temporary */
.minesweeper[data-phase="init"] .gameGrid .gameTile[data-revealed="false"][data-flagged="false"]:hover,
.minesweeper[data-phase="play"] .gameGrid .gameTile[data-revealed="false"][data-flagged="false"]:hover {
  background-image: url("graphics/blankTile.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"] {
  background-image: url("graphics/blankTile.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="bomb"] {
  background-image: url("graphics/mine.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="1"] {
  background-image: url("graphics/tile1.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="2"] {
  background-image: url("graphics/tile2.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="3"] {
  background-image: url("graphics/tile3.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="4"] {
  background-image: url("graphics/tile4.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="5"] {
  background-image: url("graphics/tile5.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="6"] {
  background-image: url("graphics/tile6.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="7"] {
  background-image: url("graphics/tile7.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="8"] {
  background-image: url("graphics/tile8.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="false"] {
  background-image: url("graphics/hiddenTile.png")
}
.minesweeper .gameGrid .gameTile[data-flagged="true"] {
    background-image: url("graphics/flaggedTile.png");
}

/* smiley permanent */
.minesweeper .smileyDisplay {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
/* smiley temporary */
.minesweeper[data-phase="init"] .smileyDisplay,
.minesweeper[data-phase="play"] .smileyDisplay {
  background-image: url("graphics/smile.png")
}
.minesweeper[data-phase="lose"] .smileyDisplay {
  background-image: url("graphics/dead.png")
}
.minesweeper[data-phase="win"] .smileyDisplay {
  background-image: url("graphics/sunglasses.png")
}

footer {
  text-align: center;
}
