/* Permanent */
.minesweeper {
  /*position*/
  position: relative;
  /*size*/
  height: 90%;
  width:100%;
  /*color*/
  background-color:#222;
}
.minesweeper .gameMenu {
  /*position*/
  position: relative;
  left:25%;
  top: 10%;
  /*size*/
  height: 10%;
  width: 50%;
  /*color*/
  background-color:#CCC;
}
.minesweeper .gameBoard {
  /*position*/
  position: relative;
  left: 25%;
  top: 10%;
  /*size*/
  height:50%;
  width: 22em;
  /*color*/
  background-color:#AAA;
}
.minesweeper .gameGrid {
  height: 100%;
}
.minesweeper .gameGrid .gameTile {
  width: 2em;
  height: 10%;
}
/* Temporary */
.minesweeper .gameGrid .gameTile[data-activity="true"]:hover {
  background-image: url("graphics/blankTile.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"] {
  background-image: url("graphics/blankTile.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="bomb"] {
  background-image: url("graphics/mine.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="1"] {
  background-image: url("graphics/tile1.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="2"] {
  background-image: url("graphics/tile2.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="3"] {
  background-image: url("graphics/tile3.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="4"] {
  background-image: url("graphics/tile4.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="5"] {
  background-image: url("graphics/tile5.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="6"] {
  background-image: url("graphics/tile6.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="7"] {
  background-image: url("graphics/tile7.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="true"][data-gameValue="8"] {
  background-image: url("graphics/tile8.png");
}
.minesweeper .gameGrid .gameTile[data-revealed="false"] {

  background-image: url("graphics/hiddenTile.png")
}
footer {
  text-align: center;
}
